* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {	
	text-decoration: none; /*tira o risco de baixo do nome q direciona o link*/	
	color: white;
}
/*=============================================
 RESETE BASICO, DEIXA O LAYOUT MAIS PREVISIVEL
 ==============================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*==================
   TOPO, HEADER
====================*/

.menu {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
 
}

.titulo {
    margin-right: auto; /* empurra só o título pra esquerda */
	color: #FFDC83;
	font-size: 30px;
   justify-content: space-between;
  
  
}

/* usado para centralizar a barra de pesquisa*/
.barra {
    position: static;
    transform: none;
    width: 50%;
    display: flex;
    justify-content: center;
}

.barra input {
  width: 100%;
  max-width:600px; /* limite máximo */
  padding: 7px;
  background-color: white;
 }
 .barra input::placeholder {
  color: #694D82;
}
.barra input::placeholder {
  color: #694D82;
 }

.barra button {
  padding: 5px 5px;
  justify-content: center;
  background-color: #9170AD;
 
}
h1{
	padding: 7px;
	
}

/*============================
    MENU, NAV
=============================*/

/*serve para quando passar o mause encima mudar a cor*/
nav ul li a:hover {
   color: #FFE079;
  
}

.menu-links ul {
  display: flex; /*coloca os <li> lado a lado*/
  list-style: none; /*remove bolinhas*/
  gap: 20px; /*espaço entre links*/
  
}
.menu-icons img {
  width: 20px;
  margin-left: 10px; /*espaço entre ícones*/
}

/*===========================
ITENS EDITADOS EM CONJUNTO
=============================*/

header, nav {
    background-color: #6A3E72;
	
} 

/*===================================
           titulo
===================================*/


.lista {
	
	 color: #6A3E72;
	 font-size: 70px;
	 text-align: center;
	 margin: 200px auto;
	 font-weight: bold; /*dixar a letra mais gordinha*/
	
}

/*============================
      BOTÃO CATEGORIAS 
=============================*/

.navbar {
  background: #6A3E72;
  padding: 15px;
  display: flex;
  border: 5px solid #FFE079;
  margin: 20px;
  border-radius: 30px;
  
}


/* container do dropdown */
.menu-itens {
  position: relative; /*Define o elemento como referência de posição.*/
 
}

/* menu escondido */
.dropdown { 
  display: none; /*Remove decoração do texto.*/
  position: absolute; /*Agora o dropdown se posiciona em relação ao menu.*/
  top: 40px; /*Move o elemento verticalmente.*/
  background: white;
  min-width: 200px; /*Define a largura mínima do elemento.*/
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1); /*Cria uma sombra ao redor do elemento.*/
  border-radius: 8px;
  overflow: hidden; /*Controla o que acontece quando algo passa do tamanho do elemento.*/
 
  
}

/* links */
.dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #6A3E72;
}

/* aparece quando passa o mouse */
.menu-itens:hover .dropdown {
  display: block;
}
	  

/*==============================
    IMAGENS DOS FAVS
================================*/

.produtos {
  display: flex;
  flex-wrap: wrap; /* quando não caber, desce */
  justify-content: center; /* centraliza itens */
  gap: 90px; /* espaço entre produtos */
  max-width: 1495px;
  padding: 30px;
  margin: 20px;
  border-radius: 30px;
}

.produto {
  
  width: 250px;
  text-align: center;
 

}	

.produto img {
	width: auto;
	height: 340px;
	border-radius: 13px;
	
}

.descricao {
	margin: 5px 0;
	text-align: justify;

}

.preco {
   
	font-size: 20px;
	font-weight: bold;
	color: orange;
	text-align: justify;
}
 
